{% extends "base-music.html" %}

{% block title %} {{db.title}} {% endblock %}

{% block toolbar %}
<span class="mdui-typo-title"><a href="/check">Funtube审核中心</a></span>
{% endblock %}

{% block mainDiv %}
<h1>{{db.title}}</h1>
<div class="mdui-video-container">
    <iframe src="/static/{{db.status}}/{{db.id}}/music.{{db.type}}" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}

{% block subDiv %}
<ul class="mdui-list">
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
        <div class="mdui-list-item-content"><strong>信息</strong></div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">dehaze</i>
        <div class="mdui-list-item-content">标题：{{db.title}}</div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
        <div class="mdui-list-item-content">作者：{{db.author}}</div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">text_format</i>
        <div class="mdui-list-item-content">
            歌词：<a href="/static/{{db.status}}/{{db.id}}/word.txt" target="_blank">点此查看</a>
        </div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">play_arrow</i>
        <div class="mdui-list-item-content">播放量：{{db.played}}</div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">picture_in_picture</i>
        <div class="mdui-list-item-content">封面：<img class="mdui-img-fluid" src="/static/{{db.status}}/{{db.id}}/pic.jpg"/></div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">event_note</i>
        <div class="mdui-list-item-content">简介：{{db.note}}</div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">message</i>
        <div class="mdui-list-item-content">
            <h1>评论({{ db.comment | length }})</h1>
            {% for line in db.comment %}
            <strong>{{line.author}}: </strong>{{line.content}}<br><br>
            {% endfor %}
        </div>
    </li>
</ul>
{% endblock %}

{% block sideDiv %}
<ul class="mdui-list">
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">more_vert</i>
        <div class="mdui-list-item-content"><strong>操作</strong></div>
    </li>
    {% if db.status == 'unconfirmed' %}
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">check</i>
        <div class="mdui-list-item-content"><a href='/pass?id={{db.id}}' class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">通过</a></div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">close</i>
        <div class="mdui-list-item-content">
        <form method="post" action="/delete" enctype="multipart/form-data">
            <input value='{{db.id}}' type="text" name='id' hidden/>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">原因</label>
                <input class="mdui-textfield-input" type="text" name='cause' required/>
            </div><br>
            <button type='submit' class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red">不通过</button></div>
        </form>
    </li>
    {% else %}
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
        <div class="mdui-list-item-content">
            <form method="post" action="/delete" enctype="multipart/form-data">
                <input value='{{db.id}}' type="text" name='id' hidden/>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">原因</label>
                    <input class="mdui-textfield-input" type="text" name='cause' required/>
                </div><br>
                <button type='submit' class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red">删除</button>
            </form>
        </div>
    </li> 
    {% endif %}
</ul>
{% endblock %}