{% extends "base-main.html" %}

{% block title %} 审核中心 - Funtube {% endblock %}

{% block toolbar %}
<span class="mdui-typo-title"><a href="/check">Funtube审核中心</a></span>
<a target="_blank" href="/">主站</a>
{% endblock %}

{% block mainDiv %}
<h1>未审核通过</h1>
{% for var in undb %}
<div class="mdui-col-md-2 mdui-col-sm-6">
    <div class="mdui-grid-tile">
        <a href="/check-music/{{var.id}}"><img src="static/unconfirmed/{{var.id}}/pic.jpg"/></a>
        <div class="mdui-grid-tile-actions">
            <div class="mdui-grid-tile-text">
                <div class="mdui-grid-tile-title">{{var.title}}</div>
                <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">person</i>{{var.author}}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block subDiv %}
<h1>已审核通过</h1>
{% for var in db %}
<div class="mdui-col-md-2 mdui-col-sm-6">
    <div class="mdui-grid-tile">
        <a href="/check-music/{{var.id}}"><img src="static/confirmed/{{var.id}}/pic.jpg"/></a>
        <div class="mdui-grid-tile-actions">
            <div class="mdui-grid-tile-text">
                <div class="mdui-grid-tile-title">{{var.title}}</div>
                <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">person</i>{{var.author}}</div>
                <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">play_arrow</i>{{var.played}}&nbsp;&nbsp;&nbsp;<i class="mdui-icon material-icons">message</i>{{ var.comment | length }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
